.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color:#333333;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #b3a6c7;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    border-radius: 4px;
    font-size: 25px;
    color: white;
    font-family: 'Fira Code', monospace;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: #b3a6c7;
}

.sidebarIcon{
    color: #FAF5EF;
    margin-right: 5px;
    font-size: 40px !important;
}

.sidebarWord{
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    font-weight: 999;
    color: #FAF5EF;
}