.container{
    font-family: 'Fira Code', monospace;
    display:flex;
    margin-top: 10px;;
}

.link{
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    color: inherit;
}

.home{
    font-family: 'Fira Code', monospace;
    background-color: #515151;
}