.container{
    font-family: 'Fira Code', monospace;
    display:flex;
    margin-top: 10px;;
}

.link{
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    color: inherit;
}

.home{
    font-family: 'Fira Code', monospace;
    background-color: #515151;
}

button {
    margin: 5px 12px;
    padding: 2px 5px;
    cursor: pointer;
}